In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("crppredict.csv")

In [7]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      77  49  42    20.879744  82.002744  6.502985  202.935536    rice
1      89  55  41    21.770462  80.319644  7.038096  226.655537    rice
2      98  56  37    23.004459  82.320763  7.840207  263.964248    rice
3      78  41  42    26.491096  80.158363  6.980401  242.864034    rice
4      81  42  37    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  106  19  35    26.774637  66.413269  6.780064  177.774507  coffee
2196   88  35  32    27.417112  56.636362  6.086922  127.924610  coffee
2197   85  16  34    24.131797  67.225123  6.362608  173.322839  coffee
2198  100  37  30    26.272418  52.127394  6.758793  127.175293  coffee
2199   90  27  31    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [8]:
import numpy as np
import pickle
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [10]:
X = df.drop(['label'],axis=1)
Y = df['label']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [12]:
print("Size of X Train:- " + str(X_train.shape))
print("Size of X Test:- " + str(X_test.shape))
print("Size of Y Train:- " + str(y_train.shape))
print("Size of Y Test:- " + str(y_test.shape))

Size of X Train:- (1760, 7)
Size of X Test:- (440, 7)
Size of Y Train:- (1760,)
Size of Y Test:- (440,)

In [13]:
reg_rf = RandomForestClassifier(max_depth=180,min_samples_split= 5,n_estimators= 152)
reg_rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=180, min_samples_split=5, n_estimators=152)

In [14]:
y_pred_1 = reg_rf.predict(X_test)

In [15]:
print(metrics.classification_report(y_test, y_pred_1))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      1.00      1.00        19
   blackgram       1.00      0.95      0.98        21
    chickpea       1.00      1.00      1.00        23
     coconut       1.00      1.00      1.00        13
      coffee       1.00      1.00      1.00        12
      cotton       1.00      1.00      1.00        21
      grapes       1.00      1.00      1.00        24
        jute       0.96      1.00      0.98        24
 kidneybeans       1.00      1.00      1.00        20
      lentil       0.96      1.00      0.98        23
       maize       0.95      1.00      0.97        18
       mango       1.00      1.00      1.00        23
   mothbeans       1.00      0.94      0.97        16
    mungbean       1.00      1.00      1.00        22
   muskmelon       1.00      1.00      1.00        22
      orange       1.00      1.00      1.00        17
      papaya       1.00      1.00      1.00        18
  pigeonpeas       1.00      1.00      1.00        18
 pomegranate       1.00      1.00      1.00        21
        rice       1.00      0.95      0.98        21
  watermelon       1.00      1.00      1.00        20

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [16]:
print(f'Accuracy: {accuracy_score(y_test, y_pred_1) * 100}')

Accuracy: 99.31818181818181

In [18]:
pickle.dump(reg_rf, open('model_crppredict.pkl','wb'))

In [19]:
model = pickle.load(open('model_crppredict.pkl','rb'))

In [20]:
a=[[77,49,42,20.87974371,82.00274423,6.502985292,202.9355362
]]
a=np.int64(a)

In [21]:
print(reg_rf.predict(a))

['rice']

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(